<div class="panel panel-primary">

    <div class="panel-heading">
      <div class="panel-title">
        SideMenu
      </div>
    </div>

    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li class="list-group-item"><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
        <li class="list-group-item"><a href="/datatable"><span class="glyphicon glyphicon-table"></span> Datatable</a></li>
        <li class="list-group-item"><a href="#"><span class="glyphicon glyphicon-file"></span> Help</a></li>
      </ul>
    </div>

</div>
