<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/head %>
  </head>

  <body class="container-fluid">
    <% include ../partials/header %>

    <main>
      <div class="jumbotron text-center">

        <h1>This is freakin' Great!</h1>
        <p class="lead">Welcome To EmzCorp EJS</p>
        <hr>
        <p><%= tagline %></p>

      </div>
    </main>

    <% include ../partials/footer %>
  </body>
</html>
